html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}:focus{outline:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}html,button,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0}*,*::before,*::after{box-sizing:border-box}ul[class],ol[class]{padding:0}body,h1,h2,h3,h4,p,ul[class],ol[class],li,figure,figcaption,blockquote,dl,dd{margin:0}body{min-height:90vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5}ul[class],ol[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){*{animation-duration:0.01ms!important;animation-iteration-count:1!important;transition-duration:0.01ms!important;scroll-behavior:auto!important}}
body {
    background: url(bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    color: #eee;
    background-color: #000;
    font-family: "Cabin", "Open Sans", Helvetica, sans-serif;
    font-size: 16px !important;
}
* {
    transition: opacity 0.2s;
}
h1,h2,h3,h4,h5,h6 {
    color: #c2e93c;
    font-weight: 700;
}
h2,h4,h5,h6 {
    text-decoration: underline;
}
h1 { font-size: 2em }
h2 { font-size: 1.5em }
h3 { font-size: 1.25em }
h4 { font-size: 1.1em }
h5 { font-size: 1em }
h6 { font-size: 0.8em }

hr { border-top: thin solid #000; border-bottom: thin solid #07282f; border-left: none; border-right: none }
a:hover, input[type="button"]:hover {
    opacity: 0.8;
}
a {
    color: #d70000;
}
[padded] {
    padding-left: 16px;
    border-left: thin solid #07282f;
}
[container] {
    position: relative;
    max-width: 640px;
    width: 100%;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}
[container] > small {
    font-weight: 700;
    font-size: 0.75em;
    display: block;
}
[container] [form] > input {
    margin: 0px;
    padding: 0px;
    vertical-align: text-top;
}
[container] [form] > input:first-child {
    color: #c2e93c;
    background: url(bg.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    background-color: #000;
    border: thin solid #c2e93c;
    border-right: none !important;
    font-size: 1.5em;
    width: 210px;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
}
[container] [form] > input:last-child {
    font-size: 1em;
    font-weight: 700;
    width: 100px;
    color: #c2e93c;
    background: #07282f;
    border: thin solid #c2e93c;
    border-left: none !important;
    height: 50px;
}
[in], [out], [ref] {
    border-top: thin solid #07282f;
    box-shadow: 0px -1px 1px -1px #555;
    margin-top: 32px;
    margin-bottom: 32px;
}
[trx] {
    background: #d70000;
    color: #fff;
    padding: 0px 4px;
    zoom: 0.8;
    border-radius: 2px;
    display: inline-block;
}
[hero] {
    padding-top: 60px;
}
[hero] img {
    width: 100%;
}
[hero] a {
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    font-size: 0.75em;
    color: #c2e93c;
    background: #07282f;
    border: thin solid #c2e93c;
    margin-bottom: 8px;
}
[hero] a {
    /*margin-right: 8px;
    margin-left: 8px;*/
}
[stats] {
    padding-top: 16px;
}
[stats] > div {
    width: 32.5%;
    display: inline-block;
}
[stats] > div > span {
    display: block;
    text-align: center;
    font-weight: 700;
    color: #c2e93c;
}
[stats] > div > span:first-child {
    font-size: 2em;
    background: #07282f;
    border-radius: 7px;
}
[stats] > div > span:last-child {
    font-size: 1em;
}

table {
}
table td, table th {
    padding: 2px;
    text-align: left;
}
table thead, table th {
    background: #fff1;
    font-size: 0.9em;
}
table td {
    font-family: monospace;
}
table td:nth-child(2),
table td:nth-child(3) {
    text-align: right;
}